# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments & IDE
.vscode/
.idea/
*.swp

# RF IQ temporary binary dump files
*.bin
*.fc32

# Database & scratch logs
*.sqlite3
*.db
